body {
    margin: 0;
    overscroll-behavior: none;
  }

.header h1{
    font-family:'Pacifico', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 50;
    color: rgb(70, 70, 70);
    text-align: center;
}
.nav_bar{
    width: 100%;
    background:rgb(249, 232, 233);
    text-align: center;
    position: relative;
    display: block;
    z-index: 10;
}
.nav_bar li {
    display: inline-block;
    margin: 15px;
    list-style: none;
}
.nav_bar li a{   
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
}
.nav_bar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.landing_page .welcome{
    text-align: center;

}

.landing_page .welcome .about_me h2{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 50;
    position: relative;
    color: black;
}
.landing_page .welcome .name h2{
    font-family: 'Pacifico', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 50;
    position: relative;
    color: black;
}

.landing_page .welcome .img1 {
    height: 32%;
    width: 25%;
    position: relative;
    border: 10px solid lightgray;
    border-radius: 15px;
    vertical-align: top;
}
.landing_page .welcome .img2 {
    height: 19%;
    width: 18%;
    position: relative;
    border: 10px solid  rgba(243, 210, 210, 0.9);
    border-radius: 15px;
    vertical-align: top;
}
.landing_page .welcome .img3 {
    height: 25%;
    width: 26%;
    position: relative;
    border: 10px solid peachpuff;
    border-radius: 15px;
    vertical-align: top;
}

.landing_page .welcome .img5 {
    height: 32%;
    width: 25%;
    position: relative;
    border: 10px solid lightgray;
    border-radius: 15px;
    vertical-align: bottom;
    margin-bottom: 30px;
}
.landing_page .welcome .img6 {
    max-height: 450px;
    width: 19%;
    position: relative;
    border: 10px solid  rgba(243, 210, 210, 0.9);
    border-radius: 15px;
    vertical-align: bottom;
    margin-bottom: 30px;
}
.landing_page .welcome .img7 {
    height: 25%;
    width: 26%;
    position: relative;
    border: 10px solid peachpuff;
    border-radius: 15px;
    vertical-align: bottom;
    margin-bottom: 30px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    overflow-x: scroll;
}

.row .col{
    width: 50%;
    text-align: center;
}

.row .col1{
    width: 50%;
    text-align: center;
}

.row .col1 h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 50;
    color: black;
}

.row .col1 .opening{
    text-align: center;
    padding: 20px;
    font-family: 'Quicksand';
    font-size: 25px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
}
.row .col1 ul{
    list-style-type: none;
}
.row .col1 p{
    text-align: left;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: lighter;
    color: rgb(70, 70, 70, 0.5);
}

.row .col1 li{
    text-align: left;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: lighter;
    color: black;
}

.row .col1 h3{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 50;
    color: black;
}

.row .col .img1 {
    height: 46%;
    max-height: 550px;
    width: 43%;
    position: relative;
    left: 6%;
    top: 5%;
    border: 10px solid peachpuff;
    border-radius: 15px;
}
.row .col .img2 {
    height: 46%;
    max-height: 550px;
    width: 43%;
    position: relative;
    left: -1%;
    top: 15%;
    border: 10px solid peachpuff;
    border-radius: 15px;
}
.row .col .img3 {
    height: 46%;
    max-height: 550px;
    width: 43%;
    position: relative;
    top: -8%;
    left: 10%;
    border: 10px solid peachpuff;
    border-radius: 15px;
}

.row .col1 table{
    text-align: center;
    width: 70%;
    height: 90%;
    margin-left: 15%;
}

.row .col1 th{
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: lighter;
    color: rgb(70, 70, 70, 0.5);
    height: 30%;
    width: 50%;
    border-radius: 50%;
}

.row .col1 .th1:hover{
    background-image: url("../images/europe/th1.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
}
.row .col1 .th2:hover{
    background-image: url("../images/europe/th2.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
}
.row .col1 .th3:hover{
    background-image: url("../images/europe/th3.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
}
.row .col1 .th4:hover{
    background-image: url("../images/europe/th4.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
}
.row .col1 .th5:hover{
    background-image: url("../images/europe/th5.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
}
.row .col1 .th6:hover{
    background-image: url("../images/europe/th6.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
}

.row .col1 .tb{
    text-align: center;
    width: 90%;
    height: 25%;
    margin-left: 5%;
}

.row .col1 .tb1{
    margin-right: 10px;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: lighter;
    color: rgb(70, 70, 70, 0.5);
    height: 20%;
    width: 30%;
    border-radius: 50%;
}
.row .col1 .tb2{
    margin-right: 10px;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: lighter;
    color: rgb(70, 70, 70, 0.5);
    height: 20%;
    width: 30%;
    border-radius: 50%;
}
.row .col1 .tb3{
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: lighter;
    color: rgb(70, 70, 70, 0.5);
    height: 20%;
    width: 30%;
    border-radius: 50%;
}

.row .col1 .tb1:hover{
    background-image: url("../images/europe/tb1.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
}
.row .col1 .tb2:hover{
    background-image: url("../images/europe/tb2.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
}
.row .col1 .tb3:hover{
    background-image: url("../images/europe/tb3.png");
    background-size: cover;
    border: 10px solid peachpuff;
    color: transparent;
} 